<form [formGroup]="form" (ngSubmit)="guardar()" class="grid grid-cols-12 gap-x-5 gap-y-7 pt-6">
  
  <!-- FILA 1: HORA (6 COLS) Y RESPONSABLE (6 COLS) -->
  <div class="col-span-12 sm:col-span-6">
    <p-floatLabel class="w-full block">
      <input
        pInputText
        id="hora"
        type="time"
        formControlName="hora"
        class="w-full"
        autocomplete="off" />
      <label for="hora">Hora de Inicio *</label>
    </p-floatLabel>
  </div>

  <div class="col-span-12 sm:col-span-6">
    <p-floatLabel class="w-full block">
      <p-dropdown
        id="responsable"
        inputId="responsable"
        [options]="opcionesResponsables"
        optionLabel="label"
        optionValue="value"
        formControlName="responsable"
        styleClass="w-full"
        placeholder="Seleccionar Responsable">
      </p-dropdown>
      <label for="responsable">Responsable Principal *</label>
    </p-floatLabel>
  </div>

  <!-- FILA 2: ACTIVIDAD / MOMENTO CLAVE (12 COLS) -->
  <div class="col-span-12 flex flex-col gap-1">
    <p-floatLabel class="w-full block">
      <input
        pInputText
        id="actividad"
        type="text"
        formControlName="actividad"
        class="w-full"
        autocomplete="off" />
      <label for="actividad">Nombre del Momento / Actividad * (ej. Entrada a la Pista)</label>
    </p-floatLabel>
    @if (form.get('actividad')?.touched && form.get('actividad')?.invalid) {
      <span class="text-xs text-rose-500 font-semibold pl-1">Por favor indica qué actividad ocurrirá.</span>
    }
  </div>

  <!-- FILA 3: DETALLES Y REQUERIMIENTOS (12 COLS) -->
  <div class="col-span-12">
    <p-floatLabel class="w-full block">
      <textarea
        id="detalles"
        pInputTextarea
        formControlName="detalles"
        rows="3"
        class="w-full"
        placeholder="Ej. Canción: A Thousand Years. Chisperos fríos encendidos al segundo 45..."></textarea>
      <label for="detalles">Detalles Técnicos / Notas para el Staff</label>
    </p-floatLabel>
  </div>

  <!-- BOTONES DE ACCIÓN -->
  <div class="col-span-12 flex justify-end gap-3 pt-3 mt-2 border-t border-slate-100">
    <p-button
      type="button"
      label="Cancelar"
      severity="danger"
      [text]="true"
      size="small"
      (onClick)="cancelar()">
    </p-button>

    <p-button
      type="submit"
      [label]="esEdicion ? 'Guardar Cambios' : 'Agregar al Minutario'"
      [icon]="esEdicion ? 'pi pi-check' : 'pi pi-plus'"
      size="small">
    </p-button>
  </div>
</form>
