<form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()" class="grid grid-cols-12 gap-x-5 gap-y-8 pt-7 pb-2">
<!--  class="grid grid-cols-12 gap-5 pt-4"-->
  <!-- Nombre Completo (Fila completa - 12 columnas) -->
  <div class="col-span-12">
    <p-floatLabel class="w-full block">
      <input
        id="modalNombre"
        pInputText
        formControlName="nombreCompleto"
        class="w-full"
        autocomplete="off"
      />
      <label for="modalNombre">Nombre Completo *</label>
    </p-floatLabel>
  </div>

  <!-- Teléfono / WhatsApp (Media fila en desktop - 6 columnas) -->
  <div class="col-span-12 sm:col-span-6">
    <p-floatLabel class="w-full block">
      <input
        id="modalTelefono"
        pInputText
        formControlName="telefono"
        class="w-full"
        autocomplete="off"
        placeholder="Ej. 6671234567"
      />
      <label for="modalTelefono">Teléfono / WhatsApp *</label>
    </p-floatLabel>
  </div>

  <!-- Correo Electrónico (Media fila en desktop - 6 columnas) -->
  <div class="col-span-12 sm:col-span-6">
    <p-floatLabel class="w-full block">
      <input
        id="modalEmail"
        pInputText
        formControlName="email"
        type="email"
        class="w-full"
        autocomplete="off"
        placeholder="correo@ejemplo.com"
      />
      <label for="modalEmail">Correo Electrónico (Opcional)</label>
    </p-floatLabel>
  </div>

  <!-- Notas internas (Fila completa - 12 columnas) -->
  <div class="col-span-12">
    <p-floatLabel class="w-full block">
      <textarea
        id="modalNotas"
        pInputTextarea
        formControlName="notas"
        rows="3"
        class="w-full resize-none"
      ></textarea>
      <label for="modalNotas">Notas o preferencias de atención</label>
    </p-floatLabel>
  </div>

  <!-- Acciones del Modal (Alineadas al final) -->
  <div class="col-span-12 flex justify-end gap-3 pt-3 mt-2 border-t border-slate-100">
    <p-button
      type="button"
      label="Cancelar"
      severity="danger"
      [text]="true"
      size="small"
      (onClick)="cancelar()"
    ></p-button>
    <p-button
      type="submit"
      [label]="clienteEnEdicion ? 'Actualizar Cliente' : 'Guardar Cliente'"
      [loading]="guardando"
      size="small"
    ></p-button>
  </div>

</form>
